{% extends "ABReservationZenithBundle::layout.html.twig" %}

{% block title %}{{'ajouter.reservation'|trans}}{% endblock %}

{% block body %}
{{ parent () }}
<h3>{{'ajouter.reservation'|trans}}</h3>
<div class='well'>
	<br>
	{% if is_granted('ROLE_USER') %}
	<form action="{{path('ajouter_reservation')}}" method="post" {{form_enctype(form)}}>
		<table>
	<tr><td>{{form_label(form.nom)}}</td><td>{{form_widget(form.nom)}}</td></tr>
	<tr><td>{{form_label(form.prenom)}}</td><td>{{form_widget(form.prenom)}}</td></tr>
	<tr><td>{{form_label(form.place)}}</td><td>{{form_widget(form.place)}}</td></tr>
	<tr><td>{{'reservationTrad.spectacle'|trans}} : </td><td>
	<select id='reservation_spectacles'>
		<option value=0 selected=true>    </option>
		{% for sp in spectacles %}
		<option value="{{sp.id}}">{{sp.titre}}</option>
		{% endfor %}
	</select>
	<input type="hidden" value="http://localhost{{path('ajax_prix', { place: plc, id_spectacle: id  })}}" id="href" />
	<input type="hidden" value="http://localhost{{path('ajax_seances', {id_spectacle: id  })}}" id="hrefSeances" />
	</td>
	<tr><td>{{form_label(form.seance)}}</td><td>{{form_widget(form.seance)}}</td></tr>
	<tr><td>{{'tarifTrad.tarif'|trans}}</td><td><input type="text" readOnly="true" id="reservation_tarif" value=""/></td></tr>
	</table>
	<div hidden="true">
	{{form_rest(form)}}
	</div>
		<br>
		<a class='btn btn-primary'style='color:white' href="{{path('index_reservation')}}">{{ 'actionTrad.annuler'|trans }}</a>
		<input type="submit" class='btn btn-primary' />
	</form>
	{% else %}
		<h1>{{'privilege.reservation'|trans}}</h1>
	{% endif %}
</div>
{% endblock %}
