{% extends "ABReservationZenithBundle::layout.html.twig" %}

{% block title %}{{ 'index.reservation'|trans }}{% endblock %}

{% block body %}
{{ parent () }}
<h3>{{ 'index.reservation'|trans }}</h3>
<div class='well'>
	{% if is_granted('ROLE_USER') %}

		

	<ul>
	<li><a href="{{path('ajouter_reservation')}}">{{ 'ajouter.reservation'|trans }}</a>

	<li><a href="{{path('voir_reservation',{'idClient':user.id})}}">{{ 'voir.listereservationclient'|trans }}</a>
	{% if is_granted('ROLE_ADMIN') %}
	<li><a href="{{path('voir_reservation')}}">{{ 'voir.listereservation'|trans }}</a>
	{% endif %}
	</ul>
	{% endif %}
</div>
{% if is_granted('ROLE_ADMIN') %}
<a class='btn btn-primary' style='color:white' href="{{path('backoffice_homepage')}}">{{ 'actionTrad.retour'|trans }}</a>
{%elseif is_granted('ROLE_USER')%}
<a class='btn btn-primary' style='color:white' href="{{path('espaceclient_homepage')}}">{{ 'actionTrad.retour'|trans }}</a>
{% else %}
<a class='btn btn-primary' style='color:white' href="{{path('ab_reservation_zenith_homepage')}}">{{ 'actionTrad.retour'|trans }}</a>
{% endif %}
{% endblock %}
