{% extends "ABReservationZenithBundle::layout.html.twig" %}

{% block title %}{{ 'voir.reservation'|trans }}{% endblock %}

{% block body %}
{{ parent () }}
<div class='well'>
	<h3>{{ 'voir.reservation'|trans }}</h3>
		<table>
		{% for reservation in reservations %}
		
			<tr>
				<td>{{ 'reservationTrad.nom'|trans }}</td>
				<td>{{ reservation.nom }}</td>
				<td>{{ 'reservationTrad.prenom'|trans }}</td>
				<td>{{ reservation.prenom }}</td>
				<td>{{ 'reservationTrad.spectacle'|trans }}</td>
				<td>{{ reservation.seance }}</td>			
			</tr>		
			<tr>
				<td><a href="{{path('modifier_reservation',{'id':reservation.id})}}">{{ 'actionTrad.modifier'|trans }}</a></td>
				<td><a href="{{path('voir_reservation',{'id':reservation.id})}}">{{ 'actionTrad.details'|trans }}</a></td>
				<td><a id= "supprResa" href="{{path('supprimer_reservation',{'id':reservation.id})}}">{{ 'actionTrad.supprimer'|trans }}</a></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		
		{% endfor %}
		</table>
</div>
{% endblock %}
