<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}

          {% set currentTheme = app.session.get('_theme') %}

            {% if currentTheme == 'theme2' %}
                <link href="{{ asset('bootstrap/css/bootstrap.theme2.css') }}" type="text/css" rel="stylesheet" />
            {% else %}
                <link href="{{ asset('bootstrap/css/bootstrap.theme1.css') }}" type="text/css" rel="stylesheet" />
            {% endif %}

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <div class='navbar navbar-inverse'>
        {% block entete  %}
                <a href='{{path('ab_reservation_zenith_homepage')}}' class='navbar-brand'>
                    <font color='white'>Zénith Fictif</font>
                </a>
                <ul class='nav navbar-nav pull-right'>

                  <font color='grey'>
                    
                      <table cellpadding='3'>

                          <tr>
                            
                            <td rowspan='2'>
                                <img src="{{asset ('http://www.infoconcert.com/media/details/zenith_nantes_120x150.jpg')}}" width=40/>
                            </td>
                             {% set currentPath = app.request.attributes.get('_route') %}
                            <div id="connexion">
                              {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                                    <td>
                                      {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} <i class='glyphicon glyphicon-user'></i> |
                                    </td>

                                    <td>
                                      <a class='btn btn-primary btn-xs' style='color:white' href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle')   }}</a>
                                      
                                    </td>
                                    {% else %}
                                      {% block connexion  %}
                                    <td>
                                        
                                        <a class='btn btn-primary btn-xs 'style='color:white' href="{{ path('ab_connexion_connexion',{'page':currentPath}) }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                                    </td>

                                    <td>
                                        <a class='btn btn-primary btn-xs' style='color:white' href="{{path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                                    </td>
                                      {% endblock %}
                                    {% endif %}
                            </div>

                          </tr>

                          <tr>

                              <td align='right'>
                                <div class="btn-group btn-xs" role="group">
                                  <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown" aria-expanded="false">
                                    {{'choix_theme.theme'|trans}}
                                    <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                      <li><a href="#">{{'choix_theme.theme1'|trans}}</a></li>
                                      <li><a href="#">{{'choix_theme.theme2'|trans}}</a></li>
                                    </ul>
                                </div>
                              </td>

                              <td align='right'>
                                <div class="btn-group btn-xs" role="group">
                                  <div id="choixLangue">                                   
                                      <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown" aria-expanded="false">
                                        {{'langue.langue'|trans}}
                                        <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu" role="menu" >
                                        <li><a href="{{path('gestion_langue',{'locale':'en', 'vue':currentPath})}}">{{'langue.anglais'|trans}}</a></li>
                                        <li><a href="{{path('gestion_langue',{'locale':'fr', 'vue':currentPath})}}">{{'langue.francais'|trans}}</a></li>
                                      </ul>
                                  </div>
                                </div>
                              </td>
                          </tr>

                      </table>
                    
                  </font>
                    
                </ul>

        {% endblock %}
        </div>

        <div class='container'>
            {% block body %}{% endblock %}
            {% block javascripts %}
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
            {% endblock %}
        </div>

        <br>
        <br>

        {% block piedPage %}

            <div class='footer'>

                <div class='navbar navbar-inverse navbar-fixed-bottom'>
                      <div class='row'>
                        <div class='col-md-offset-1 col-md-3'>
                          <font color='grey'>
                              <h4>{{'base.nous'|trans}}</h4>
                              <p><i>Zénith Fictif</i> {{'base.salle'|trans}} <a href='{{path('index_reservation')}}'>{{'base.reservez'|trans}}</a>!</p>
                            </div>

                            <div class='col-md-2'>
                              <h4>{{'base.lien'|trans}}</h4>
                              <ul class='list-unstyled'>
                                <li><a href='{{path('ab_reservation_zenith_homepage')}}'>{{'base.accueil'|trans}}</a></li>
                                {% if is_granted('ROLE_USER') %}
                                <li><a href='{{path('index_reservation')}}'>{{'base.reservation'|trans}}</a></li>
                                {% endif %}
                                <li><a href='{{path('index_spectacle')}}'>{{'base.spectacle'|trans}}</a></li>
                              </ul>
                            </div>

                            <div class='col-md-offset-1 col-md-2'>
                              <h4>{{'base.connecter'|trans}}</h4>
                              <ul class='list-unstyled'>
                                <li><a href='{{path('about')}}'>{{'base.nous'|trans}}</a></li>
                                <li><a href='https://twitter.com/zenithnantes' target=_blank>Twitter</a></li>
                                <li><a href='https://www.facebook.com/nantespectacles' target=_blank>Facebook</a></li>
                              </ul>
                            </div>

                            <div class='col-md-3'>
                              <h4>{{'base.contact'|trans}}</h4>
                              <ul class='list-unstyled'>
                                <li><i class='glyphicon glyphicon-globe'></i> Saint-Herblain</li>
                                <li><i class='glyphicon glyphicon-phone'></i> 02 40 66 66 66</li>
                                <li><i class='glyphicon glyphicon-envelope'></i> <a href='mailto:Bien@Essaye.Sauron'> Bien@Essaye.Sauron</a></li>
                              </ul>
                              <p style='text-color:white'>Ce site est fictif.</p>
                            </div>
                          </font>
                      </div>
                  </div>

      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

      {% endblock %}
      
    </body>
</html>
