{% extends "ABReservationZenithBundle::layout.html.twig" %}

{% block title %}ABReservationZenithBundle:Tarif:modifier{% endblock %}

{% block body %}

	<h3>{{'modifier.tarif'|trans}}</h3>
	{% if is_granted('ROLE_ADMIN') %}
	<div class='well'>
		<form action='' method="post" {{form_enctype(form)}}>
			 <table>
		    	<tr><td>{{form_label(form.prix)}}</td><td>{{form_widget(form.prix)}}</td></tr>
		    	<tr><td>{{form_label(form.numeroPlaceMin)}}</td><td>{{form_widget(form.numeroPlaceMin)}}</td></tr>
		    	<tr><td>{{form_label(form.numeroPlaceMax)}}</td><td>{{form_widget(form.numeroPlaceMax)}}</td></tr>
		    </table>    
			<div hidden="true"/>
			{{form_rest(form)}}
			<input type="submit" />
		</form>
	{% else %}
	<div class='well'>
		<h3> {{'privilege.addsppectacle'|trans }}</h3>
	{% endif %}
</div>
{% endblock %}
