{% extends "ABReservationZenithBundle::layout.html.twig" %}

{% block title %}{{ 'voir.tarif'|trans }}{% endblock %}

{% block body %}
{{ parent () }}
<h3>{{ 'voir.tarifsSpectacle'|trans({'%spectacle%': (tarifs|first).spectacle.titre}, "messages") }}</h3>
<div class='well'>
	
		
		{% for tarif in tarifs %}
		<table>
			<tr>
				<td>Prix:</td>
				<td>{{ tarif.prix }}</td>			
			</tr>
			<tr>
				<td>{{'tarifTrad.places'|trans}}</td>
				<td>{{ tarif.numeroPlaceMin}} -- {{ tarif.numeroPlaceMax }}</td>			
			</tr>
			<tr>
				<td>Spectacle:</td>
				<td>{{ tarif.spectacle }}</td>			
			</tr>				
			<tr>
				{% if is_granted('ROLE_ADMIN') %}
				<td><a href="{{path('modifier_tarif',{'id':tarif.id})}}">{{ 'actionTrad.modifier'|trans }}</a></td>			
				<td><a id= "supprTarif" href="{{path('supprimer_tarif',{'id':tarif.id})}}">{{ 'actionTrad.supprimer'|trans }}</a></td>
				{% endif %}
			</tr>
		</table>
		{% endfor %}
</div>
		<a class='btn btn-primary' style='color:white' href="{{path('voir_spectacle')}}">{{ 'actionTrad.retour'|trans }}</a>	
{% endblock %}
