{% extends "::base.html.twig" %}

{% block body %}

    <center>
        <div class='well well-lg' style='width:50%'>

            <h3 style='text-align:center'>Inscription</h3>

            <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
            	<table cellspacing='4'>
                	<tr><td>{{form_label(form.nom)}} : </td><td>{{form_widget(form.nom)}}</td><td>{{form_errors(form.nom)}}</td></tr>
                	<tr><td>{{form_label(form.prenom)}} : </td><td>{{form_widget(form.prenom)}}</td><td>{{form_errors(form.prenom)}}</td></tr>
                	<tr><td>{{form_label(form.adresse)}} : </td><td>{{form_widget(form.adresse)}}</td><td>{{form_errors(form.adresse)}}</td></tr>
                	<tr><td>{{form_label(form.email)}} : </td><td>{{form_widget(form.email)}}</td><td>{{form_errors(form.email)}}</td></tr>
                	<tr><td>{{form_label(form.username)}} : </td><td>{{form_widget(form.username)}}</td><td>{{form_errors(form.username)}}</td></tr>
                	<tr><td>{{form_widget(form)}}</td><td>{{form_errors(form)}}</td></tr>
                	
                    <tr><td><div hidden=true>
                    {{form_rest(form)}}
                    </div></td></tr>
                    <tr><td colspan='2' align='center'><input type="submit" class='btn btn-primary' value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" /></td></tr>
                </table>
            </form>
        </div>
    </center>
{% endblock %}