{% extends "ABReservationZenithBundle::layout.html.twig" %}
{% block title %}{{'pages.accueil'|trans}}{% endblock %}

{% block body %}
{{ parent() }}
<h3>Page Admin</h3>
{% if is_granted('ROLE_ADMIN') %}
<div class='well well-lg'>
	<ul>
		<li><a href="{{path('index_spectacle')}}">{{ 'gestionTrad.spectacle'|trans }}</a>
		<li><a href="{{path('index_reservation')}}">{{ 'gestionTrad.adminreservation'|trans }}</a>
	{%if is_granted('ROLE_SUPER_ADMIN') %}
		<li><a href="">{{ 'gestionTrad.utilisateur'|trans }}</a>
	{% endif %}
	</ul>
</div>
{% endif %}
{% endblock %}