{% extends "ABReservationZenithBundle::layout.html.twig" %}
{% block title %}{{ 'pages.backoffice'|trans }}{% endblock %}

{% block body %}
{{ parent() }}
<h1>{{ 'pages.backoffice'|trans }}</h1>
{% if is_granted('ROLE_ADMIN') %}
<ul>
	<li><a href="{{path('index_spectacle')}}">{{ 'gestionTrad.spectacle'|trans }}</a>
	<li><a href="{{path('index_reservation')}}">{{ 'gestionTrad.adminreservation'|trans }}</a>
{%if is_granted('ROLE_SUPER_ADMIN') %}
	<li><a href="">{{ 'gestionTrad.utilisateur'|trans }}</a>
{% endif %}
</ul>
{% endif %}
{% endblock %}