{% extends "ABReservationZenithBundle::layout.html.twig" %}
{% block title %}{{'pages.accueil'|trans}}{% endblock %}

{% block body %}
{{ parent() }}
<div class='well'>
<h3>{{'pages.accueil'|trans}}</h3>
{% if is_granted('ROLE_USER') %}
<ul>
	<li><a href="{{path('voir_spectacle')}}">{{'voir.listespectacle'|trans}}</a>
	<li><a href="{{path('index_reservation')}}">{{'gestionTrad.clientreservation'|trans}}</a>
</ul>
{% else %}
<h3>{{'privilege.espaceclient'|trans}}</h3>
</div>
{% endif %}
{% endblock %}