{% extends "ABReservationZenithBundle::layout.html.twig" %}
{% block title %}{{'pages.accueilzenith'|trans}}{% endblock %}

{% block body %}
{{ parent () }}
<div class='container' style="text-align:center">
    <img src="{{asset('image/img.jpg')}}" width="500" alt="zenith"/>
</div>
<h3>{{'pages.accueilzenith'|trans}}</h3>
{{channel.title}}
{{channel.description}}
<ul>
<div class='well'>
    {% for item in items %}
    	<li><div>
    			<div><a href="{{item.source}}">{{item.title}}</div></a>
    			<div>{{item.pubDate}}</div>
    			<div>{{item.description}}</div>
                <div><img src="{{item.image.url}}" /></div>		
    		</div></li>
            <br/>
    {% endfor %}
</div>
</ul>

<div class='col-md-2'>
    <img src="{{asset ('image/zenith.jpg')}}"/>
</div>

<div class='col-md-6'>
    <h3>{{'base.presentation'|trans}}</h3>
    <div clas='lead text-justifiy'>
        <p>{{'base.zenith1'|trans}},{{'base.zenith2'|trans}} ,{{'base.zenith3'|trans}}</p>
        <p>{{'base.zenith4'|trans}},{{'base.chanson'|trans}},{{'base.rock'|trans}}, {{'base.rap'|trans}}, {{'base.musiqueMonde'|trans}}, {{'base.comedie'|trans}}, {{'base.show'|trans}}, {{'base.etc'|trans}},{{'base.conditions'|trans}}</p>
    </div>  
</div>
                    
<div class='col-md-offset-1'></div>
	<div class='col-md-3'>
        <h4>{{'base.contact'|trans}}</h4>
        <p>Zénith de Nantes</p>
        <p>Boulevard du Zénith</p>
        <p>44800 Saint-Herblain</p>
        <p><a href="mailto:contact@zenith-nm.com">contact@zenith-nm.com</a></p>
     </div>
{% endblock %}