{% extends "ABReservationZenithBundle::layout.html.twig" %}
{% block title %}{{'pages.accueilzenith'|trans}}{% endblock %}

{% block body %}
{{ parent () }}
<h3>{{'pages.accueilzenith'|trans}}</h3>
{{channel.title}}
{{channel.description}}
<ul>
{% for item in items %}
	<li><div>
			<div><a href="{{item.source}}">{{item.title}}</div></a>
			<div>{{item.pubDate}}</div>
			<div>{{item.description}}</div>		
		</div></li>
{% endfor %}
</ul>
{% endblock %}