{% extends "ABReservationZenithBundle::layout.html.twig" %}

{% block title %}{{ 'ajouter.spectacle'|trans }}{% endblock %}

{% block body %}
{{ parent () }}
<div class='well well-lg'>
	{% if is_granted('ROLE_ADMIN') %}
	<h3>{{ 'ajouter.spectacle'|trans }}</h3>
	<form action="{{path('ajouter_spectacle')}}" method="post" {{form_enctype(form)}}>
		<div id="spectacle">
		<table>
			<tr><td>{{ form_label(form.titre) }}: </td><td> {{ form_widget(form.titre) }}  {{form_errors(form.titre)}}</td></tr>
			<tr><td>{{ form_label(form.duree) }}: </td><td>  {{ form_widget(form.duree) }}  {{form_errors(form.duree)}}</td></tr>
			<tr><td>{{ form_label(form.genre) }}: </td><td> {{ form_widget(form.genre) }}  {{form_errors(form.genre)}}</td></tr>
			<tr><td>{{ form_label(form.nombreDePlaces) }} </td><td>  {{ form_widget(form.nombreDePlaces) }}  {{form_errors(form.nombreDePlaces)}}</td></tr>
			<tr><td>{{ form_label(form.commentaires) }} :</td><td>  {{ form_widget(form.commentaires) }}  {{form_errors(form.commentaires)}}</td></tr>
			<tr><td>{{ form_label(form.affiche) }} :</td><td>  {{ form_widget(form.affiche) }}  {{form_errors(form.affiche)}}</td></tr>
		</table>
		</div>
		<div id="seances" data-prototype="
		{% filter escape %}
	             {{ include('ABReservationZenithBundle:Seance:ajouter.html.twig', { 'form': form.seances.vars.prototype }) }}
	    {% endfilter %}">
				
		</div>
		<div id="tarifs" data-prototype="
		{% filter escape %}
	             {{ include('ABReservationZenithBundle:Tarif:ajouter.html.twig', { 'form': form.tarifs.vars.prototype }) }}
	    {% endfilter %}">	
			
		</div>
		<div hidden="true"/>
		{{form_rest(form)}}
		</div>
		<input type="submit" class="btn btn-primary"/>
	</form>
	{% else %}
	<h1> {{'privilege.addsppectacle'|trans }}</h1>
	{% endif %}
</div>
{% endblock %}

