{% extends "ABReservationZenithBundle::layout.html.twig" %}

{% block title %}{{ 'ajouter.spectacle'|trans }}{% endblock %}

{% block body %}
{{ parent () }}
<h1>{{ 'ajouter.spectacle'|trans }}</h1>
<form action="{{path('ajouter_spectacle')}}" method="post" {{form_enctype(form)}}>
	<div id="spectacle">
		<p>{{ form_label(form.titre) }}:  {{ form_widget(form.titre) }}  {{form_errors(form.titre)}}</p>
		<p>{{ form_label(form.duree) }}:  {{ form_widget(form.duree) }}  {{form_errors(form.duree)}}</p>
		<p>{{ form_label(form.genre) }}:  {{ form_widget(form.genre) }}  {{form_errors(form.genre)}}</p>
		<p>{{ form_label(form.nombreDePlaces) }}:  {{ form_widget(form.nombreDePlaces) }}  {{form_errors(form.nombreDePlaces)}}</p>
		<p>{{ form_label(form.commentaires) }}:  {{ form_widget(form.commentaires) }}  {{form_errors(form.commentaires)}}</p>
		<p>{{ form_label(form.affiche) }}:  {{ form_widget(form.affiche) }}  {{form_errors(form.affiche)}}</p>
	
	</div>
	<div id="seances" data-prototype="
	{% filter escape %}
             {{ include('ABReservationZenithBundle:Seance:ajouter.html.twig', { 'form': form.seances.vars.prototype }) }}
    {% endfilter %}">
			
	</div>
	<div id="tarifs" data-prototype="
	{% filter escape %}
             {{ include('ABReservationZenithBundle:Tarif:ajouter.html.twig', { 'form': form.tarifs.vars.prototype }) }}
    {% endfilter %}">	
		
	</div>
	<div hidden="true"/>
	{{form_rest(form)}}
	</div>
	<input type="submit" />
</form>
{% endblock %}

