{% extends "ABReservationZenithBundle::layout.html.twig" %}

{% block title %}Détails du spectacle{% endblock %}

{% block body %}
<h1>Détail du spectacle : {{spectacle.titre}}</h1>
	<table>
		<tr><td>Titre :</td><td>{{ spectacle.titre }}</td></tr>
		<tr><td>Durée : </td><td>{{spectacle.duree}}</td></tr>
		<tr><td>Genre : </td><td>{{spectacle.genre}}</td></tr>
		<tr><td>Nombre de places : </td><td>{{spectacle.nombreDePlaces}}</td></tr>
		<tr><td>Commentaires : </td><td>{{spectacle.commentaires}}</td></tr>
		<tr><td>Affiche : </td><td>{{spectacle.affiche}}</td></tr>
		<tr><td>Séances programmées:</td><td>
			{% for seance in spectacle.seances %}
			<table>
			<tr><td>Date :</td><td>{{ seance.date|date('d/m/Y') }}</td></tr>
			<tr><td>Heure:</td><td>{{ seance.heure|date('H:i')}}</td></tr>
			</table>
			{% endfor %}
		</td></tr>
		<tr><td>Tarifs proposés:</td><td>
			{% for tarif in spectacle.tarifs %}
			<table>
			<tr><td>Prix :</td><td>{{tarif.prix}}</td></tr>
			<tr><td>Places Concernées:</td><td>{{tarif.numeroPlaceMin}} -- {{tarif.numeroPlaceMax}}</td></tr>
			</table>
			{% endfor %}
		</td></tr>
	</table>
	<a href="{{path('modifier_spectacle',{'id':spectacle.id})}}">modifier</a>
	<a href="{{path('supprimer_spectacle',{'id':spectacle.id})}}">supprimer</a>
{% endblock %}