{% extends "ABReservationZenithBundle::layout.html.twig" %}

{% block title %}{{ 'index.spectacle'|trans }}{% endblock %}

{% block body %}
{{ parent () }}
<h1>{{ 'index.spectacle'|trans }}</h1>
<ul>
	<li><a href="{{path('ajouter_spectacle')}}">{{ 'ajouter.spectacle'|trans }}</a></li>
	<li><a href="{{path('voir_spectacle')}}">{{ 'voir.listespectacles'|trans }}</a>
</ul>
{% endblock %}
