{% extends "ABReservationZenithBundle::layout.html.twig" %}

{% block title %}{{ 'modifier.spectacle'|trans }}{% endblock %}

{% block body %}
{{ parent () }}
	{% if is_granted('ROLE_ADMIN') %}
	<h3>{{ 'modifier.spectacle'|trans }}</h3>
	<br>
	<div class='well well-lg'>
		<div class='row'>
			<div id="spectacle" class='col-md-6'>
				<form action='' method="post" {{form_enctype(form)}}>
					{{form_errors(form)}}
					<table border>
							<tr><td>{{ form_label(form.titre) }} : </td><td> {{ form_widget(form.titre) }}  {{form_errors(form.titre)}}</td></tr>
							<tr><td>{{ form_label(form.duree) }} : </td><td>  {{ form_widget(form.duree) }}  {{form_errors(form.duree)}}</td></tr>
							<tr><td>{{ form_label(form.genre) }} : </td><td> {{ form_widget(form.genre) }}  {{form_errors(form.genre)}}</td></tr>
							<tr><td>{{ form_label(form.nombreDePlaces) }} : </td><td>  {{ form_widget(form.nombreDePlaces) }}  {{form_errors(form.nombreDePlaces)}}</td></tr>
							<tr><td>{{ form_label(form.commentaires) }} : </td><td>  {{ form_widget(form.commentaires) }}  {{form_errors(form.commentaires)}}</td></tr>
							<tr><td>{{ form_label(form.affiche) }} :  </td><td> {{ form_widget(form.affiche) }}  {{form_errors(form.affiche)}}</td></tr>
					</table>
					<div id="seances" data-prototype="
					{% filter escape %}
				             {{ include('ABReservationZenithBundle:Seance:ajouter.html.twig', { 'form': form.seances.vars.prototype }) }}
				    {% endfilter %}">
					{% for seance in form.seances %}
						<div id="seance">			
							{{form_errors(seance)}}
							Séance n°{{form_label(seance)}}
			    			<table>
				    			<tr><td>{{form_label(seance.heure)}}</td><td>{{form_widget(seance.heure)}}</td></tr>
						    	<tr><td>{{form_label(seance.date)}}</td><td>{{form_widget(seance.date)}}</td></tr>
						    	<tr><td>{{form_label(seance.nombrePlacesRestantes)}}</td><td>{{form_widget(seance.nombrePlacesRestantes)}}</td></tr>
					   		</table>
							<div hidden="true">
								{{form_rest(seance)}}
							</div>
						</div>
					{% endfor %}		
					</div>						
					<div id="tarifs" data-prototype="
					{% filter escape %}
				             {{ include('ABReservationZenithBundle:Tarif:ajouter.html.twig', { 'form': form.tarifs.vars.prototype }) }}
				    {% endfilter %}">	
					</div>					
					{% for tarif in form.tarifs %}		
					<div id="tarif">					
						Tarif n°{{form_label(tarif)}}
						<table>
					    	<tr><td>{{form_label(tarif.prix)}}</td><td>{{form_widget(tarif.prix)}}</td>{{form_errors(tarif.prix)}}</tr>
					    	<tr><td>{{form_label(tarif.numeroPlaceMin)}}</td><td>{{form_widget(tarif.numeroPlaceMin)}}</td><td>{{form_errors(tarif.numeroPlaceMin)}}</td></tr>
					    	<tr><td>{{form_label(tarif.numeroPlaceMax)}}</td><td>{{form_widget(tarif.numeroPlaceMax)}}</td>{{form_errors(tarif.numeroPlaceMax)}}</tr>
			    		</table>  	
						<div hidden="true">
							{{form_rest(tarif)}}
						</div>
					</div>
					{% endfor %}
					</div>
					<div hidden="true">
							{{form_rest(form)}}
						</div>

					<a class='btn btn-primary' style='color:white' href="{{path('voir_spectacle')}}">{{ 'actionTrad.annuler'|trans }}</a>

					<input type="submit" class="btn btn-primary"/>
					
					
				</form>				
					</br>
				
				<div id="affiche" class='col-md-6'>
				</div>
			</div>
		</div>
	</div>

	{% else %}
	<div class='well well-lg'>
		<h3> {{'privilege.addsppectacle'|trans }}</h3>
	{% endif %}
	</div>
{% endblock %}

