{% extends "ABReservationZenithBundle::layout.html.twig" %}

{% block title %}ABReservationZenithBundle:Spectacle:ajouter{% endblock %}

{% block body %}
<div class='well'>
	<h3>Modifier un spectacle</h3>
	<br>
	<form action="{{path('ajouter_spectacle')}}" method="post" {{form_enctype(form)}}>
		<div id="spectacle">
			<p>{{ form_label(form.titre) }}:  {{ form_widget(form.titre) }}  {{form_errors(form.titre)}}</p>
			<p>{{ form_label(form.duree) }}:  {{ form_widget(form.duree) }}  {{form_errors(form.duree)}}</p>
			<p>{{ form_label(form.genre) }}:  {{ form_widget(form.genre) }}  {{form_errors(form.genre)}}</p>
			<p>{{ form_label(form.nombreDePlaces) }}:  {{ form_widget(form.nombreDePlaces) }}  {{form_errors(form.nombreDePlaces)}}</p>
		
		</div>
		<div id="seances" data-prototype="{{ form_widget(form.seances.vars.prototype)|e }}">
		{% for seance in form.seances %}
			<div>{{form_row(seance)}}</div>		
		{% endfor %}
		</div>
		<div id="tarifs" data-prototype="{{ form_widget(form.tarifs.vars.prototype)|e }}">
			{% for tarif in form.tarifs %}
				<div>{{form_row(tarif)}}</div>			
			{% endfor %}
		</div>
		<div hidden="true"/>{{form_rest(form)}}</div>
		<br>
		<input type="submit" class='btn btn-primary'/>
	</form>
</div>
{% endblock %}

