{% extends "ABReservationZenithBundle::layout.html.twig" %}

{% block title %}{{ 'voir.spectacle'|trans }}{% endblock %}

{% block body %}
{{ parent () }}
<div class='well'>
	<h3>{{ 'voir.spectacle'|trans }}</h3>
		<table>
		{% for spectacle in spectacles %}
			<tr>
				<td>{{ spectacle.titre }} </td>
				{% if is_granted('ROLE_ADMIN') %}
				<td> <a href="{{path('modifier_spectacle',{'id':spectacle.id})}}"> {{'actionTrad.modifier'|trans}}</a> </td>			
				<td> <a href="{{path('supprimer_spectacle',{'id':spectacle.id})}}"> {{'actionTrad.supprimer'|trans}}</a> </td>
				{% endif %}
				<td> <a href="{{path('voir_spectacle',{'id':spectacle.id})}}">{{'actionTrad.details'|trans}}</a> </td>
				{% if spectacle.tarifs|length > 0%}
				<td> <a href="{{path('voir_tarif',{'id_spectacle':spectacle.id})}}"> {{'spectacleTrad.tarifsassocies'|trans}}</a> </td>
				{%  endif %}
				{% if spectacle.seances|length > 0%}
				<td> <a href="{{path('voir_seance',{'id_spectacle':spectacle.id})}}"> {{'spectacleTrad.seanceprogramme'|trans}}</a> </td>
				{%  endif %}
				</tr>
		{% endfor %}
		</table>
</div>
{% endblock %}

