{% extends "ABReservationZenithBundle::layout.html.twig" %}

{% block title %}ABReservationZenithBundle:Seance:modifier{% endblock %}

{% block body %}
<h3>{{'modifier.seance'|trans}}</h3>
<div class='well'>
	{% if is_granted('ROLE_ADMIN') %}
	<form action='' method="post" {{form_enctype(form)}}>
		<table>
	    	<tr><td>{{form_label(form.heure)}}</td><td>{{form_widget(form.heure)}}</td><td>{{form_errors(form.heure)}}</td></tr>
	    	<tr><td>{{form_label(form.date)}}</td><td>{{form_widget(form.date)}}</td><td>{{form_errors(form.date)}}</td></tr>
	    	<tr><td>{{form_label(form.nombrePlacesRestantes)}}</td><td>{{form_widget(form.nombrePlacesRestantes)}}</td><td>{{form_errors(form.nombrePlacesRestantes)}}</td></tr>
	    </table>    
		<div hidden="true">
		{{form_rest(form)}}
		</div>
		<input type="submit" />
	</form>
	{% else %}
	<h1> {{'privilege.addsppectacle'|trans }}</h1>
{% endif %}
</div>
{% endblock %}
