{% extends "ABReservationZenithBundle::layout.html.twig" %}

{% block title %}{{ 'voir.seance'|trans }}{% endblock %}

{% block body %}
{{ parent () }}
<h3>{{ 'voir.seancesSpectacle'|trans({'%spectacle%': (seances|first).spectacle.titre}, "messages") }}</h3>
<div class='well'>
		{% for seance in seances %}
		<table>
			<tr>
				<td>{{ 'seanceTrad.heure'|trans }}</td>
				<td>{{ seance.heure|date('H:i')}}</td>			
			</tr>
			<tr>
				<td>{{ 'seanceTrad.date'|trans }}</td>
				<td>{{ seance.date|date('d/m/Y') }}</td>			
			</tr>
			<tr>
				<td>{{ 'seanceTrad.nbPlacesRestantes'|trans }}</td>
				<td>{{ seance.nombrePlacesRestantes }}</td>			
			</tr>
			<tr>
				<td>{{ 'spectacleTrad.spectacle'|trans }}</td>
				<td>{{ seance.spectacle }}</td>			
			</tr>		
			<tr>
				{% if is_granted('ROLE_ADMIN') %}
				<td><a href="{{path('modifier_seance',{'id':seance.id})}}">{{ 'actionTrad.modifier'|trans }}</a></td>			
				<td><a id= "supprSeance" href="{{path('supprimer_seance',{'id':seance.id})}}">{{ 'actionTrad.supprimer'|trans }}</a></td>
				{% endif %}
			</tr>
		</table>
		{% endfor %}
</div>
		<a class='btn btn-primary' style='color:white' href="{{path('voir_spectacle')}}">{{ 'actionTrad.retour'|trans }}</a>
{% endblock %}
